.page {
  color: #fff;
  background-color: #2A2C2F;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
  word-break: break-word;
}

@media screen and (min-width:300px) {
  .page {
    overflow-x: hidden;
  }
}
