.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

@media screen and (min-width:576px) {
  .photo-grid {
    gap: 15px;
  }
}


@media screen and (min-width:1200px) {
  .photo-grid {
    gap: 16px;
  }
}
