.comment__author {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
}

@media screen and (min-width:992px) {
  .comment__author {
    order: 1;
    margin: 0;
    align-self: flex-start;
  }
}
