.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 0 45px;
}

@media screen and (min-width:576px) {
  .header {
    padding: 28px 0 46px;
  }
}

@media screen and (min-width:1200px) {
  .header {
    padding: 28px 0 54px;
  }
}
