.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 106px;
  padding-top: 16px;
}

@media screen and (min-width:576px) {
  .header {
    min-height: 128px;
    padding-top: 28px;
  }
}

@media screen and (min-width:1200px) {
  .header {
    min-height: 136px;
  }
}
