.footer {
  display: flex;
  flex-direction: column;
  padding: 64px 0 24px;
  word-break: normal;
}

@media screen and (min-width:576px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 88px;
  }
}

@media screen and (min-width:992px) {
  .footer {
    padding-top: 92px;
  }
}
