.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 1;
  display: block;
  margin-bottom: 14px;
  letter-spacing: 0.2em;
}

@media screen and (min-width:992px){
  .place__url-heading {
    margin-bottom: 9px;
  }

}
