.place__website {
  align-self: flex-end;
  margin-bottom: 32px;
}

@media screen and (min-width:576px) {
  .place__website {
    margin: 0;
    padding-bottom: 4px;
  }
}

@media screen and (min-width:992px) {
  .place__website {
    padding-bottom: 1px;
  }
}
